.the
  .the_above 
    = link_to image_tag('logo.svg',class: 'mercari'),"#"

.Individual
  個人情報
= form_for(@user_details, url: user_detail_path, method: :post ) do |f|
  = render "devise/shared/error_messages", resource: @user_details
  .box
    .Description
      = f.label :first_name, "苗字"
      = f.text_field :first_name
    .Description 
      = f.label :first_name_kana, "苗字(カナ)"
      %br/
      = f.text_field :first_name_kana
    .Description 
      = f.label :last_name, "名前"
      %br/
      = f.text_field :last_name

    .Description 
      = f.label :last_name_kana, "名前(カナ)"
      %br/
      = f.text_field :last_name_kana

    .Description 
      = f.label :birthday, "生年月日"
      %br/
      = f.text_field :birthday

    .Description 
      = f.label :desination_name, "送付先氏名"
      %br/
      = f.text_field :desination_name

    .Description 
      = f.label :desination_kana, "送付先氏名(カナ)"
      %br/
      = f.text_field :desination_kana
    .Description 
      = f.label :post_code, "郵便番号"
      %br/
      = f.text_field :post_code
    .Description 
      = f.label :prefectures, "都道府県"
      %br/
      = f.text_field :prefectures
    .Description 
      = f.label :mayor, "市長区村"
      %br/
      = f.text_field :mayor
    .Description 
      = f.label :address, "番地"
      %br/
      = f.text_field :address
    .Description 
      = f.label :building, "マンション名やビル名、部屋番号（任意）"
      %br/
      = f.text_field :building
    .Description 
      = f.label :phone_no, "お届け先の電話番号（任意）"
      %br/
      = f.text_field :phone_no

  .actions
    = f.submit "次へ進む",class: "color"
= render "devise/shared/links"