.the
  .the_above
    = link_to image_tag('logo-white',class: 'furima'),root_path
  .the_above_progress
    %ul.the_stat
      %li.the_stat_list
        会員情報
      %li.the_stat_list_color_red
        個人情報
      %li.the_stat_list
        完了

.title
  %h2 個人情報入力
= form_for(@user_details, url: user_detail_path, method: :post ) do |f|
  = render "devise/shared/error_messages", resource: @user_details
  .box
    .Description
      = f.label :first_name, "苗字"
      = f.text_field :first_name, placeholder: "例）山田"
    .Description 
      = f.label :first_name_kana, "苗字(カナ)"
      %br/
      = f.text_field :first_name_kana, placeholder: "例）ヤマダ"
    .Description 
      = f.label :last_name, "名前"
      %br/
      = f.text_field :last_name, placeholder: "例）太郎"

    .Description 
      = f.label :last_name_kana, "名前(カナ)"
      %br/
      = f.text_field :last_name_kana, placeholder: "例）タロウ"


    .Description
      = f.label :birthday, "生年月日"
      .Description__birthday
        = f.date_select :birthday, {prompt: "---", start_year: Time.now.year, end_year:1950, use_month_numbers: true}, {class: 'time-box'}
      .Description__birthday--label
        .Description__birthday--label--year
          年
        .Description__birthday--label--month
          月
        .Description__birthday--label--day
          日

    .Description
      = f.label :desination_name, "送付先氏名"
      %br
      = f.text_field :desination_name, placeholder: "例）山田太郎"

    .Description
      = f.label :desination_kana, "送付先氏名(カナ)"
      %br
      = f.text_field :desination_kana, placeholder: "例）ヤマダタロウ"
    .Description
      = f.label :post_code, "郵便番号"
      %br
      = f.text_field :post_code, placeholder: "例）1110000"
    .Description
      = f.label :prefectures, "都道府県"
      %br
      = f.select :prefectures, UserDetail.prefectures.keys, {prompt: "選択してください"}, class: "prefecture-select"
    .Description
      = f.label :mayor, "市長区村"
      %br
      = f.text_field :mayor, placeholder: "例）フリマ市"
    .Description
      = f.label :address, "番地"
      %br
      = f.text_field :address, placeholder: "例）1-1-1"
    .Description
      = f.label :building, "マンション名やビル名、部屋番号（任意）"
      %br
      = f.text_field :building, placeholder: "例）フリマビルディング 101号室"
    .Description
      = f.label :phone_no, "お届け先の電話番号（任意）"
      %br/
      = f.text_field :phone_no, placeholder: "例）08012345678"

  .actions
    = f.submit "次へ進む",class: "color"
