%h2 個人情報
= form_for(@user_details, url: user_detail_path, method: :post ) do |f|
  = render "devise/shared/error_messages", resource: @user_details

  .field
    = f.label :first_name, "苗字"
    %br/
    = f.text_field :first_name
  .field
    = f.label :first_name_kana, "苗字(カナ)"
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :last_name, "名前"
    %br/
    = f.text_field :last_name

  .field
    = f.label :last_name_kana, "名前(カナ)"
    %br/
    = f.text_field :last_name_kana

  .field
    = f.label :birthday, "生年月日"
    %br/
    = f.text_field :birthday

  .field
    = f.label :desination_name, "送付先氏名"
    %br/
    = f.text_field :desination_name

  .field
    = f.label :desination_kana, "送付先氏名(カナ)"
    %br/
    = f.text_field :desination_kana
  .field
    = f.label :post_code, "郵便番号"
    %br/
    = f.text_field :post_code
  .field
    = f.label :prefectures, "都道府県"
    %br/
    = f.text_field :prefectures
  .field
    = f.label :mayor, "市長区村"
    %br/
    = f.text_field :mayor
  .field
    = f.label :address, "番地"
    %br/
    = f.text_field :address
  .field
    = f.label :building, "マンション名やビル名、部屋番号（任意）"
    %br/
    = f.text_field :building
  .field
    = f.label :phone_no, "お届け先の電話番号（任意）"
    %br/
    = f.text_field :phone_no

  .actions
    = f.submit "Sign up"
= render "devise/shared/links"