= render "shared/header"
.body
  %nav.category-menu
    %ul
      %li.root
        = link_to 'FURIMA', root_path
      %li
        %i.fa.fa-angle-right
      %li.category
        = link_to 'マイページ', user_path(current_user.id)
      %li
        %i.fa.fa-angle-right
      %li.category
        = link_to new_credit_card_path

  .content
    .user-mypage
      = render 'shared/mypage-side'
      .credit-update
        .credit-update__label
          クレジットカード情報
        .credit-update
          .card-info
            .card-info__label
              クレジットカード一覧
            .card-info__list
              %form.card-info__list__payment
                -# FIXME: カードに対応したsvgを引っ張る
                .card-info__list__payment__svg
                  = image_tag "visa.svg", size: "50x30"
                .card-info__list__payment__number
                  = "**** **** **** #{@customer_card.last4}"
                .card-info__list__payment__expire
                  - exp_month = @customer_card.exp_month.to_s
                  - exp_year = @customer_card.exp_year.to_s.slice(2,3)
                  = "#{exp_month} / #{exp_year}"
                = link_to '削除する', credit_card_path('', id: @creditCard.id), method: :delete, class: 'card-info__list__payment__delete-btn'
            .how-not-regist
              = link_to '#' do
                %span 支払い方法について
  = render "shared/sell_button"
  = render "shared/footer"
