= render "shared/header"
.body
  %nav.category-menu
    %ul
      %li.root
        = link_to 'FURIMA', '/'
      %li
        %i.fa.fa-angle-right
      %li.category
        = link_to 'マイページ', '#'
        
.user-mypage
  .user-mypage__content
    .user-mypage__content__icon
      .user-mypage__content__icon__image
        = image_tag("icon_camera", class: 'iconImage')
      %h2.user-mypage__content__icon__name name
      %h2.user-mypage__content__icon__status
        %span 評価 0
        %span 出品数 0
    .user-mypage__content__product
      %h2.user-mypage__content__product__text
        購入した商品
      .user-mypage__content__product__items
        %span 取引中の商品がございません
  .user-mypage__side
    .user-mypage__side__nav
      %ul.user-mypage__side__nav__list
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            マイページ
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            お知らせ
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            やることリスト
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            いいね！一覧
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品する
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品した商品-出品中
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品した商品-取引中
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品した-売却済み
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            取引中
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            過去の取引
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            評価一覧
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            お問い合わせ
            = icon('fas', 'angle-right')
      %h3.user-mypage__side__nav__head 設定
      %ul.user-mypage__side__nav__list
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            プロフィール
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            発送元・お届先住所変更
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            支払い方法
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            メール/パスワード
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            本人情報
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            電話番号の確認
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item__destroy
          = link_to destroy_user_session_path, method: :delete, class: 'btn' do
            ログアウト
            = icon('fas', 'angle-right')
= render "shared/footer"
= render "shared/sell_button"
