.body
  = render "shared/header"
  %nav.category-menu
    %ul
      %li.root
        = link_to 'FURIMA', root_path
      %li
        %i.fa.fa-angle-right
      %li.category
        = link_to 'マイページ', '/users/show'

  .content
    .user-mypage
      = render "shared/mypage-side"
      .user-mypage__content
        .user-mypage__content__icon
          .user-mypage__content__icon__image
            = image_tag("icon_camera", class: 'iconImage')
          %h2.user-mypage__content__icon__name name
          %h2.user-mypage__content__icon__status
            %span 評価 0
            %span 出品数 0
        .user-mypage__content__product
          %h2.user-mypage__content__product__text
            購入した商品
          .user-mypage__content__product__items
            %span 取引中の商品がございません
  = render "shared/footer"
  = render "shared/sell_button"
