.header
  .headerFrame
    .mainHeader
      %h1.icon
        = link_to image_tag("logo.png", class: "iconBtn"), root_path
      .searchBox
        = form_with url: root_path, local: true do |form|
          = form.text_field :text, class: "inputBox", placeholder: "キーワードから探す"
          .searchBox__right
            = button_tag type: :submit, class: "submitBtn" do
              = image_tag("icon-search 1.png", width: '20px', height: '20px', class: "searchIcon")
    .listsFrame
      %ul.listsFrameLeft
        %li.listsFrameLeft__item.listsFrameLeft__item--first
          = link_to "カテゴリー", "#", id: "catBtn"
        %li.listsFrameLeft__item.listsFrameRight__item--first
          = link_to "ブランド", "#", id: "brandBtn"
      %ul.listsFrameRight
        -# FIXME: 誰かcss整えてください
        %li.listsFrameRight__item
          = link_to "ログイン", user_session_path
<<<<<<< HEAD
        %li.listsFrameRight__itemlistsFrameRight__item--new
=======
        %li.listsFrameRight__item.listsFrameRight__item--new
>>>>>>> e0fc68290d012b2d690fd1c55fa4d60e646b3b2c
          = link_to "新規会員登録", new_user_registration_path
        - if user_signed_in?
          %li.listsFrameRight__item.listsFrameRight__item
            = link_to "マイページ", "users/#{current_user.id}"
