.side-bar
  .side-bar__nav
    %ul.side-bar__nav__list
      %li.side-bar__nav__list__item
        = link_to '#' do
          マイページ
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          お知らせ
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          やることリスト
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          いいね！一覧
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          出品する
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          出品した商品-出品中
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          出品した商品-取引中
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          出品した-売却済み
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          取引中
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          過去の取引
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          評価一覧
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          お問い合わせ
          = icon('fas', 'angle-right')
    %h3.side-bar__nav__head 設定
    %ul.side-bar__nav__list
      %li.side-bar__nav__list__item
        = link_to '#' do
          プロフィール
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          発送元・お届先住所変更
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to credit_cards_path do
          クレジットカード登録
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          メール/パスワード
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          本人情報
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item
        = link_to '#' do
          電話番号の確認
          = icon('fas', 'angle-right')
      %li.side-bar__nav__list__item__destroy
        = link_to destroy_user_session_path, method: :delete, class: 'btn' do
          ログアウト
          = icon('fas', 'angle-right')