= render "shared/header"
.body
  %nav.category-menu
    %ul
      %li.root
        = link_to 'FURIMA', '/'
      %li
        %i.fa.fa-angle-right
      %li.category
        = link_to 'マイページ', '/users/show'
      %li
        %i.fa.fa-angle-right
      %li.category
        = link_to 'クレジットカード登録', '/credit_cards/new'

.user-mypage
  .user-mypage__payment
    .user-mypage__payment__info
      %h2.user-mypage__payment__info__text
        クレジットカード情報入力
      .user-mypage__payment__info__form
      = form_tag('#', method: :post, id: 'charge-form',  name: "inputForm") do
        %label カード番号
        = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
        %br
        %label 有効期限
        %select#exp_month{name: "exp_month", type: "text"}
          %option{value: ""} --
          %option{value: "1"}01
          %option{value: "2"}02
          %option{value: "3"}03
          %option{value: "4"}04
          %option{value: "5"}05
          %option{value: "6"}06
          %option{value: "7"}07
          %option{value: "8"}08
          %option{value: "9"}09
          %option{value: "10"}10
          %option{value: "11"}11
          %option{value: "12"}12
        %span 月/
        %select#exp_year{name: "exp_year", type: "text"}
          %option{value: ""} --
          %option{value: "2019"}19
          %option{value: "2020"}20
          %option{value: "2021"}21
          %option{value: "2022"}22
          %option{value: "2023"}23
          %option{value: "2024"}24
          %option{value: "2025"}25
          %option{value: "2026"}26
          %option{value: "2027"}27
          %option{value: "2028"}28
          %option{value: "2029"}29
        %span 年
        %br
        %label セキュリティコード
        = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
        #card_token
        = submit_tag "追加する", id: "token_submit"

  .user-mypage__side
    .user-mypage__side__nav
      %ul.user-mypage__side__nav__list
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            マイページ
            %i.fa.fa-angle-right
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            お知らせ
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            やることリスト
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            いいね！一覧
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品する
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品した商品-出品中
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品した商品-取引中
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            出品した-売却済み
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            取引中
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            過去の取引
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            評価一覧
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            お問い合わせ
            = icon('fas', 'angle-right')
      %h3.user-mypage__side__nav__head 設定
      %ul.user-mypage__side__nav__list
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            プロフィール
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            発送元・お届先住所変更
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to new_payment_path do
            クレジットカード登録
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            メール/パスワード
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            本人情報
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item
          = link_to '#' do
            電話番号の確認
            = icon('fas', 'angle-right')
        %li.user-mypage__side__nav__list__item__destroy
          = link_to destroy_user_session_path, method: :delete, class: 'btn' do
            ログアウト
            = icon('fas', 'angle-right')
= render "shared/footer"
= render "shared/sell_button"
