.wrapper
  .content
    .extop
      .extop-logo
        = image_tag("logo.png", height: "40", width: "100", alt: "logo")
    .exmain
      .exmain__label
        購入内容の確認
      .exmain__container
        .exmain__container__item
          .exmain__container__item__image
            -# FIXME: itemテーブルから画像取得
            -# = image_tag @image, size: "90x90"
            = image_tag "a007.png", size: "90x90"
          .exmain__container__item__detail
            .exmain__container__item__detail__name
              = "#{@item.name}"
            .exmain__container__item__detail__price
              = "￥#{@item.price.to_s(:delimited)}（税込）送料込み"
        .exmain__container__price
          .exmain__container__price__box
            .exmain__container__price__box__info
              %span
                支払い金額
              %span
                = "￥#{@item.price.to_s(:delimited)}"
            .exmain__container__price__box__point
              ポイントを使用
        .exmain__container__payment
          支払い方法
          %br
          -if @customer_card.blank?
            = link_to "カード情報を登録する", new_credit_card_path
          -else
            %br
              クレジットカード
            %br
            = "**** **** **** #{@customer_card.last4}"
            %br
            - exp_month = @customer_card.exp_month.to_s
            - exp_year = @customer_card.exp_year.to_s.slice(2,3)
            = "有効期限 #{exp_month} / #{exp_year}"
        = form_tag(action: :pay, method: :post) do
          %button.pay-btn 購入する
  .footer
    .footer-content
      .footer-content-main
        %p.footer-content-main-privacy プライバシーポリシー
        %p.footer-content-main-term フリマ利用規約
        %p.footer-content-main-trade 特定商取引に関する表記
      .footer-icon
        = image_tag("logo.png", height: "40", width: "100", alt: "logo")
      %p.footer-copyright
        © Furima, Inc.
